@page "/sport/"
@using StreamSpoatsPR.Shared
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

    <div class="container" style="text-align: center; margin: auto; justify-content: center; align-items: center">
        <h3 class="card-title" style="text-align:center">Sports</h3>
        <br />


        <a href="/sport/create" class="btn btn-secondary">
            <span class="oi oi-plus" style="width:100%;text-align:center;margin:auto;justify-content:center;align-items:center"></span>
            Create New Sport
        </a>
        <br />
        <br />

        @if (sport == null)
        {
            <div class="alert alert-info">Loading Sport...</div>
        }
        else
        {
            <table class="align-content-center" style="width:100%;margin:auto">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Sport Name</th>
                        <th>Actions</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var n in sport)
                    {
                        <tr>
                            <td>@n.ID</td>
                            <td>@n.SportName</td>
                            <td>
                                <a href="/sport/edit/@n.ID" class="btn btn-warning">
                                    <span class="oi oi-pencil"></span>
                                </a>
                                <button class="btn btn-danger" @onclick="@(()=>Delete(n.ID))">
                                    <span class="oi oi-delete"></span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>
    @code {
        private Sport[] sport;
        [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }


        protected override async Task OnInitializedAsync()
        {
            var authState = await authenticationStateTask;
            var user = authState.User;
            if (!user.Identity.IsAuthenticated)
            {
                NavigationManager.NavigateTo($"Login", forceLoad: true);
            }
            else
            {
                Console.WriteLine("User is authenticated.");
                sport = await Http.GetFromJsonAsync<Sport[]>($"{Endpoints.SportEndpoint}");
            }
        }

        async Task Delete(int sportId)
        {
            var SportData = sport.First(q => q.ID == sportId);
            var confirm = await JsRuntime.InvokeAsync<bool>("confirm", $"Do you want to delete {SportData.ID}?");
            if (confirm)
            {
                await Http.DeleteAsync($"{Endpoints.SportEndpoint}/{sportId}");
                await OnInitializedAsync();
            }
        }

    }
