@page "/sport/"
@using StreamSpoatsPR.Shared
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="container" style="text-align: center; margin: auto; justify-content: center; align-items: center">
    <h3 class="card-title" style="text-align:center">Sports</h3>
    <br />
    <br />

    @if (sport == null)
    {
        <div class="alert alert-info">Loading Sport...</div>
    }
    else
    {
        <table class="table table-responsive" id="sportTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Sport Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var n in sport)
                {
                    <tr>
                        <td>@n.ID</td>
                        <td>@n.SportName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    private Sport[] sport;
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"Login", forceLoad: true);
        }
        else
        {
            Console.WriteLine("User is authenticated.");
            sport = await Http.GetFromJsonAsync<Sport[]>($"{Endpoints.SportEndpoint}");
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("AddDataTable", "#sportTable");
    }

    public void Dispose()
    {
        JsRuntime.InvokeVoidAsync("DataTableDispose", "#sportTable");
    }

}
@*Hi*@