@page "/prodname/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Product Name</h3>
<hr />
<br />

<FormComponent ButtonText="Create Product Name" prodname="prodname" OnValidSubmit="@Createprodname" />

@code {
    Prodname prodname = new Prodname();

    private async Task Createprodname()
    {
        await _client.PostAsJsonAsync(Endpoints.ProductNameEndpoint, prodname);
        _navManager.NavigateTo("/prodname/");
    }
}
