@page "/prodname/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Product Name</h3>

<FormComponent ButtonText="Update" OnValidSubmit="EditProdname" prodname="prodname" />

@code {
    [Parameter] public int id { get; set; }
    Prodname prodname = new Prodname();

    protected async override Task OnParametersSetAsync()
    {
        prodname = await _client.GetFromJsonAsync<Prodname>($"{Endpoints.ProductNameEndpoint}/{id}");
    }

    async Task EditProdname()
    {
        await _client.PutAsJsonAsync($"{Endpoints.ProductNameEndpoint}/{id}", prodname);
        _navManager.NavigateTo("/prodname/");
    }
}