@page "/prodname/"
@using StreamSpoatsPR.Shared
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="container" style="text-align: center; margin: auto; justify-content: center; align-items: center">
    <h3 class="card-title" style="text-align:center">Product Names</h3>
    <br />
    <br />

    @if (prodname == null)
    {
        <div class="alert alert-info">Loading Product Names...</div>
    }
    else
    {
        <table class="table table-responsive" id="prodnameTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Product Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var n in prodname)
                {
                    <tr>
                        <td>@n.ID</td>
                        <td>@n.ProductName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
@code {
    private Prodname[] prodname;
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"Login", forceLoad: true);
        }
        else
        {
            Console.WriteLine("User is authenticated.");
            prodname = await Http.GetFromJsonAsync<Prodname[]>($"{Endpoints.ProductNameEndpoint}");
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("AddDataTable", "#prodnameTable");
    }

    public void Dispose()
    {
        JsRuntime.InvokeVoidAsync("DataTableDispose", "#prodnameTable");
    }


}
