@page "/fetchdata"
@using StreamSpoatsPR.Shared
@inject HttpClient Http
@*@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider ApiAuthenticationStateProvider*@
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecast[] forecasts;
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            Console.WriteLine($"User {user.Identity.Name} is authenticated.");
            await JsRuntime.InvokeVoidAsync("alert", "User is Not authenticated!");
        }
        else
        {
            Console.WriteLine("User is authenticated.");
            await JsRuntime.InvokeVoidAsync("alert", "authenticated!");
            forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("WeatherForecast");
        }

        //var authState = await ApiAuthenticationStateProvider.GetAuthenticationStateAsync();
        //var user = authState.User;
        //if (!user.Identity.IsAuthenticated)
        //{
        //    //NavigationManager.NavigateTo($"Login", forceLoad: true);
        //    await  JsRuntime.InvokeVoidAsync("alert", "Warning!");
        //}
        ////else
        ////{
        ////    <p>You are not authorized to access this resource.</p>
        ////}
        //forecasts = await Http.GetJsonAsync<WeatherForecast[]>("api/SampleData/WeatherForecasts");

    }

}
