@page "/Brand/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Create New Brand</h3>
<hr />
<br />

<FormComponent ButtonText="Create brand" brand="brand" OnValidSubmit="@Createbrand" />

@code {
    Brand brand = new Brand();

    private async Task Createbrand()
    {
        await _client.PostAsJsonAsync(Endpoints.BrandEndpoint, brand);
        _navManager.NavigateTo("/brand/");
    }
}
