@page "/Brand/"
@using StreamSpoatsPR.Shared
@inject HttpClient Http
@inject IJSRuntime JsRuntime
@inject NavigationManager NavigationManager
@implements IDisposable

<div class="container" style="text-align: center; margin: auto; justify-content: center; align-items: center">
    <h3 class="card-title">Brands</h3>
    <br />
    <br />

    @if (brand == null)
    {
        <div class="alert alert-info">Loading Brands...</div>
    }
    else
    {
        <table class="table table-responsive" id="brandTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var n in brand)
                {
                    <tr>
                        <td>@n.ID</td>
                        <td>@n.Name</td>  
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

@code {
    private Brand[] brand;
    [CascadingParameter] private Task<AuthenticationState> authenticationStateTask { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        if (!user.Identity.IsAuthenticated)
        {
            NavigationManager.NavigateTo($"Login", forceLoad: true);
        }
        else
        {
            Console.WriteLine("User is authenticated.");
            brand = await Http.GetFromJsonAsync<Brand[]>($"{Endpoints.BrandEndpoint}");
        }
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await JsRuntime.InvokeVoidAsync("AddDataTable", "#brandTable");
    }

    public void Dispose()
        {
            JsRuntime.InvokeVoidAsync("DataTableDispose", "#brandTable");
        }

 

}
