@page "/ItemType/edit/{id:int}"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3>Edit Item Type</h3>

<FormComponent ButtonText="Update" OnValidSubmit="@EditType" type="type" />

@code {
    [Parameter] public int id { get; set; }
    StreamSpoatsPR.Shared.Type type = new StreamSpoatsPR.Shared.Type();

    protected async override Task OnParametersSetAsync()
    {
        type = await _client.GetFromJsonAsync<StreamSpoatsPR.Shared.Type>($"{Endpoints.TypeEndpoint}/{id}");
    }

    async Task EditType()
    {
        await _client.PutAsJsonAsync($"{Endpoints.TypeEndpoint}/{id}", type);
        _navManager.NavigateTo("/ItemType/");
    }
}