@inherits LayoutComponentBase

<body style="background-color:#e7f1e3">

    <header>

        <NavMenu />
    </header>

    <div>
        <main role="main" class="pb-5" style="background-color: #e7f1e3">
            @Body
        </main>
    </div>

</body>

