@inject NavigationManager NavigationManager
@using System.Threading;


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color:#dff2d7">

    <div class="container">
        @*<a class="navbar-brand" href="">blazornav</a>*@
        <img src="/StreamSpoatsLogo.jpeg" height="120" />
        <button class="navbar-toggler" type="button" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">

            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/Review/AllReview">
                        <span class="oi oi-copywriting" aria-hidden="true"></span> All Reviews
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/Sport/">
                        <span class="oi oi-flash" aria-hidden="true"></span> Sports
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/ItemType/">
                        <span class="oi oi-layers" aria-hidden="true"></span> Types
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/Brand/">
                        <span class="oi oi-tag" aria-hidden="true"></span> Brands
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/Prodname/">
                        <span class="oi oi-inbox" aria-hidden="true"></span> Products
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link text-dark" href="/Review/">
                        <span class="oi oi-pencil" aria-hidden="true"></span> Write a Review
                    </NavLink>
                </li>
                <AuthorizeView>
                    <Authorized>
                        @*<p style="margin-top: 12px; padding-right: 10px;"> @context.User.Identity.Name!</p>
                <a href="LogOut" style="margin-top:12px">Log out</a>*@
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Account">
                                <span class="oi oi-person" aria-hidden="true"></span> Account
                            </NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item">
                            <NavLink class="nav-link text-dark" href="Login">
                                <span class="oi oi-person" aria-hidden="true"></span> Login
                            </NavLink>
                        </li>
                        @*<a href="Register" style="padding-right: 10px; margin-top: 12px">Register</a>
                <a href="Login" style="padding-right: 10px; margin-top: 12px">Log in</a>*@
                    </NotAuthorized>
                </AuthorizeView>

                @*<LoginDisplay />*@

            </ul>
        </div>
    </div>
</nav>


@*<div class="top-row pl-4 navbar navbar-dark">
        <a class="navbar-brand" href="">StreamSpoatsPR</a>
        <button class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Home
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <span class="oi oi-plus" aria-hidden="true"></span> Counter
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
                </NavLink>
            </li>
        </ul>
    </div>*@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
